.form-container {
  width: 50%;
  margin: auto;
}

.no-shadow {
  box-shadow: none !important;
}

.no-padding {
  padding: 0 !important;
}

.ui.comments {
  margin: 0.5em 0;
  max-width: 100%;
}

/*
* Tabs
*/

.admin-tabs>div>div>div:nth-child(1) .active.item {
  background-color: #fff;
  z-index: 99;
}

.admin-tabs>div>div>div:nth-child(1) {
  padding-right: 0px !important;
}

.admin-tabs>div>div>div:nth-child(2) {
  padding-left: 0px !important;
  margin-left: -1px !important;
}

.floating-btn {
  position: fixed !important;
  right: 135px !important;
  top: 80px !important;
  padding: 0.7em 0.9em .7em !important;
}

.ui.grid>.column:not(.stretched) {
  padding-left: 0 !important;
  padding-right: 0 !important;
  z-index: 2;
}

.stretched {
  padding: 1rem 0 !important;
}

.ui.celled.grid>.row>.column {
  padding: 0.2em !important;
}

.ui.vertical.tabular.menu {
  border-right: unset !important;
}

.delete-btn:hover,
.edit-btn:hover {
  background-color: #c2c2c2;
  cursor: pointer;
}

/* Edit/Delete btn fixes */
.delete-btn i,
.delete-btn i,
.ui.label>.delete.icon {
  margin-left: 0 !important;
}

.ui.tiny.button,
.ui.tiny.buttons {
  font-size: .75714286rem !important;
}

/* modal  */
.ui.modal>.image.content>.description {
  width: 100%;
}

/* editor */
.Editor-toolbar,
.demo-editor {
  position: relative;
}

.demo-editor {
  margin: 10px 0;
  min-height: 230px;
  border: 1px solid #F1F1F1;
}

.DraftEditor-editorContainer {
  padding: 0 10px;
}