.form-container {
  width: 50%;
  margin: auto;
}
.no-shadow{
  box-shadow: none!important;
}
.no-padding{
  padding: 0!important;
}

.ui.comments {
  margin: 0.5em 0;
  max-width: 100%;
}
/*
* Tabs
*/

.ui.vertical.tabular.menu .active.item{
  background-color: #fff;
}